@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

*{
    font-family: "Belleza", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* fuente-grande
fuente-mediana
fuente-chica
color-letra-menu
color-letra-fotos
color-letra-h-parrafos */


.fondo-header{
    background-color: #526a62;
    color: beige;
    }

.fondo-main{
    background-color: #fdfcfc;
}


.fondo-footer{
    background-color: #526a62;
}

header{
    height: 130px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* #logo{
    margin-top: 4em;
    margin-bottom: 0em;
} */
 
a {
    text-decoration: none;
}

.menu{
    list-style: none;
    color: beige;
}  

main{
    width: 1200px;
    height: 600px; 
    margin: auto;
}

footer{
    height: 172px;
}

/* header div nav a{
    font-size: 20px;
    color: rgb(39, 38, 38);
    text-decoration: none;
    margin: 10px;
} */

