@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

*{
    font-family: "Belleza", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .fondo-header{
    background-color: #526a62;
    color: beige;
    } */

header section {
    min-width: 100vw;
    min-height: 30vh;
    background-color: #c42121;
    display: flex;
}

.div-header {
    width: 150px;
    height: 110px;
    border: solid;
}

.button{
    background-color: #526a62;
    border-radius: 15%;
    width: 4em;
    height: 2em;
    color: beige;
}


ul li a{
    text-decoration: none;

}


.nav-heade {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

ul {
    display: flex;
    align-items: end;
    list-style: none; 
}

.fondo-main{
    background-color: #fdfcfc;
}

main{
    width: 1200px;
    height: 600px; 
    margin: auto;
}

.fondo-footer{
    background-color: #526a62;
    color: beige;
}

footer section {
    min-width: 100vw;
    min-height: 30vh;
    /* background-color: #c42121; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.div-footer {
    width: 250px;
    height: 100px;
    /* color: beige; */
    
    /* border: solid; */
}

